{% extends 'user_pages/base.html' %}
{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light border-bottom">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Лучший букмекер StudyBet</h1>
      <p class="lead fw-normal" >Букмекерская контора StudyBet предлагает сделать ставки на любые события.Мы – легальная компания по ставкам через интернет с высокими коэффициентами и быстрыми выплатами в России.</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

<div class="container">
          <h1 class="text-center border-bottom">События:</h1>
        <div class="justify-content-md-center row px-5 border-bottom">
         <a class="btn btn-success m-4" href="http://127.0.0.1:8000" role="button">Активные</a>
         <a class="btn btn-warning m-4" href="http://127.0.0.1:8000/bet/finished" role="button">Прошедшие</a>
        </div>
        <div class="container ">
            {% if bets %}
                 {% for bet in bets %}
                      {% if bet.fixture_result == 2 %}
                  <div class="row justify-content-center m-4">
                    <div class="text-center bg-dark rounded-3 d-flex flex-column">
                        <h2 class="text-white">Событие:</h2>
                      <h2 class="text-white">{{ bet.bet_name }}</h2>
                          <div class="mx-auto justify-content-md-center ">
                                <div class="form-check form-check-inline px-5">
                                      <p class="text-white">{{bet.bet_win}}</p>
                                </div>
                              <div class="form-check form-check-inline px-5">
                                  <p class="text-white">{{bet.bet_lose}}</p>
                              </div>
                            </div>
                         <p class="text-white">Итог события:</p>
                             {% if bet.fixture_result == 0 %}
                                <p class="text-white">Проигрыш!</p>
                              {% elif bet.fixture_result == 1 %}
                                <p class="text-white">Победа!</p>
                                {% else %}
                                <p class="text-white">В процессе!</p>
                             {% endif %}
                         <a class="btn btn-danger btn-lg btn-block" href="{% url 'go_bet' request.user.account.id bet.id %}" role="button">Сделать ставку</a>
                        </div>
                       {% endif %}
                    </div>

                  </div>
    {% endfor %}
     {% else %}
    <h1 class="text-center">На данный момент событий нет!</h1>
{% endif %}
</div>



<footer class="footer position-bottom container border-top">
       <div class="copyright text-center my-auto">
         <p>© 2022 Ставки в букмекерской компании «StudyBet»</p>
       </div>
</footer>

{% endblock %}